@import "../variables";

.cv-personal {
  grid-area: personal;
  padding: $main-gap;
  background-color: white;
  text-align: center;
  .cv-photo {
    width: 100%;
    border-radius: 50%;
    margin-bottom: $main-gap;
    margin-top: $main-gap;
  }
}